/* モバイル向けレイアウト */
@media all and (max-width: 820px) {
    h1{
    margin-top: 15px;
    font-size: 16px;
    text-align: start;
    margin-left: 10px;
    white-space: nowrap;
    }
    #intension{
    margin-top: 10px;
    font-size: 12px;
    text-align: start;
    margin-left: 15px;
    white-space: nowrap;
    }
    #mimi2{
    margin-left: -1px;
    }
    
}
